# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

log/
examples/HOPP_examples/
HOPP_examples/
HOPP-demos/
# needed for h2 test inputs: tests/analysis/results/
WB_case_study/
examples/H2 Analysis/results/reopt_precomputes/

tests/hybrid/REoptResultsNoExportAboveLoad.json

# Results
examples/analysis/results/*.csv
resource_files/wind
resource_files/solar

resource_files/grid/tunisia_est_grid_prices.csv
resource_files/solar/Hazoua
resource_files/solar/Beni_Miha

# clean up after merge
examples/Powerflow Analysis
examples/analysis/Engie
examples/As_Built_Analysis_Blue Creek.csv
examples/Blue_Creek_Analysis.py
examples/dudgeon_wind_extraction_validation.py
examples/powerflow_details.csv
examples/reopt_load.py
examples/data


.idea/*
.idea/workspace.xml
.vscode/

.vscode/*

# Distribution / packaging
.Python
env*/*
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
.envrc

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Resource data
#resource_files/solar/*.csv
#resource_files/wind/*.srw

# Images, datafiles
*.png
*.xlsx

*.pkl
.DS_Store
*.val
*.db
*.db-shm
*.gz
*.db-wal

