name: Testing

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        env:
          SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL: True
        run: |
          sudo apt-get update && sudo apt-get install -y libglpk-dev glpk-utils coinor-cbc
          python -m pip install --upgrade pip
          pip install ".[develop]"
      - name: Create env file
        run: |
          touch .env
      #     echo NREL_API_KEY=${{ secrets.NREL_API_KEY }} >> .env
      #     cat .env
      - name: Run tests
        run: |
          PYTHONPATH=. pytest tests
      - name: Lint with flake8
        run: |
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          pip install flake8
          flake8 . --count --exit-zero --statistics --ignore=E501
