name: Testing

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.6, 3.7, 3.8 ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libglpk-dev glpk-utils coinor-cbc
          python -m pip install --upgrade pip
          pip install shapely==1.7.1
          pip install -r requirements.txt
      - name: Install package
        run: |
          python setup.py install
      - name: Create env file
        run: |
          touch .env
          echo NREL_API_KEY=${{ secrets.NREL_API_KEY }} >> .env
          cat .env
      - name: Unit tests
        run: |
          pip install pytest
          PYTHONPATH=. pytest tests
      - name: Lint with flake8
        run: |
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          pip install flake8
          flake8 . --count --exit-zero --statistics --ignore=E501
